.notification {
	position: fixed;
	bottom: -60px;
	right: 10px;
	background: $background-white;
	padding: 14px 8px;
	min-width: 200px;
	font-size: 16px;
	font-family: sans-serif;
	color: $black;
	border-radius: 30px;
	animation: notification 5s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	gap: 8px;

	&__image {
		width: 20px;
		height: 20px;
	}
}

@keyframes notification {
	10%, 90% {
		bottom: 10px;
	}
	100% {
		bottom: -60px;
	}
}